absl-py==0.15.0
accelerate==0.6.1
datasets==2.0.0
filelock==3.4.2
jsonlines==3.0.0
nltk==3.9
numpy==1.22.3
python-dotenv==0.20.0
rouge_score==0.0.4
six==1.16.0
torch==2.2.0
tqdm==4.66.3
transformers==4.38.0
wandb==0.12.11
fire==0.4.0
flask==2.2.5
flask-Cors==4.0.2
dotmap